<div class="chat1" id="conversation-section">
    <section id="Container container2">

        <div id="chatBox" class="card">

            <div id="gaggle">

                <div id="gaggleInfo" class="column">
                    <h2>TOPIC</h2>

                </div>

            </div>

            <div id="message-container" class="card-content">

                <div id="messages">
                    {{#each messages as |message|}}
                    <div class='dish userChatContent thought'>
                        <p>
                            {{message.body}}
                        </p>
                        <div id="usernamestamp"><sub>username{{userId}}</sub></div>
                    </div>

                    {{/each}}
                </div>

                <div id='conversation-id' data="{{conversationId}}" class="form-container">

                    <form id="chatInputContainer" class="">

                        <input id="chatInput" type=text placeholder="Message!" />
                        <button id="chatBtn" class="">
                            SEND
                            <i id="sendButton" class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<script src='/js/conversation.js'></script>