<nav>
    <a href="/">Home</a>
  
    <a id = 'logout', href="/">Logout</a>
   
  </nav>
  <div class = "chat1">
    <section id="Container container2">
        <!-- chatbox -->
        <div id="chatBox" class="card">
            <!-- #region Salbot profile up top of chatbox-->
            <div id="gaggle">
  
                <div id="salbotInfo" class="column">
                    <h2>TOPIC</h2>
                  
                </div>
              
            </div>
            <!-- #region Main chat section-->
            <div id="message-container" class="card-content">
                <!-- Empty Div for messages -->
                <div id="messages">

                </div>


            </div>
            <!-- #endregion -->
            <!-- #region input field section-->
            <div class="form-container">
               
                <form id="chatInputContainer" class="">

                    <input id="chatInput" type=text placeholder="Message!" />
                    <button id="chatBtn" class="">
                      SEND
                        <i id="sendButton" class="fas fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <!-- #endregion -->
        </div>
        </div>
    </section>
    </div>
    <!-- #region Modal for Wikipedia API -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
           
            <section class="modal-card-body">
                <div class="content" id="output">
                    <!-- wiki results -->
                    <div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" id="closeBtn">Close</button>
            </footer>
        </div>
    </div>
 {{!-- <div class="container">
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light message">
                <div class="card-body bg-light message2">
                    <div class="container">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        
                                    <div class="col-md-6">
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message"></label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea> </div>
                                    </div>
                                    <div class="col-md-5 d-flex justify-content-center message3"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Send Message"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>
   --}}

