<header>
  <h1>GAGGLE - Where Discussions Happen!</h1>
</header>
<main>

  <div class="gallery">
    <aside>
      <h2>Enter Discussion-Rooms</h2>
    </aside>
    {{#each conversations}}
    <section class="card">
      <a href="/conversation/{{id}}">
        <header>{{title}}</header>
      </a>
    </section>
    {{/each}}
    <div class='chart'>
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
    </textarea>
    <button type='submit' value='Submit'>
      Submit
    </button>
    </form>
  </div>
  </div>
  </div>

  <script src="./js/homepage.js"></script>
</main>