<header>
  <h1>GAGGLE - Where Discussions Happen!</h1>
</header>
<main>

  <div class="gallery">
    <canvas id="myChart" height="400px" width-="100%"></canvas>
    <aside>
      <h2>Enter Discussion-Rooms</h2>
    </aside>
    {{#each conversations}}
    <section class="card">
      <a href="/conversation/{{id}}">
        <header>{{title}}</header>
      </a>
    </section>
    {{/each}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./js/homepage.js"></script>
</main>