<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Form</title>
    <link rel="stylesheet"  href="./css/login.css">
</head>
<body>
    <div class="loginbox">
        <img src="./IMG/loginback.png" class="avatar">
        <h1>Login Here</h1>
        <div id="error"></div>
        <form id="form" method="GET" action='/loginUser'> 
        <div>
            <p>Username</p>
            <Input  name="username"  id="username" placeholder="Enter username" type="text" required >
           </div>
           <div>
            <p>Password</p>
            <input type="password" name="password" id="password" placeholder="Enter Password" >
           </div>
            <input type="submit" id="submit-button" name="" value="Login">
            <p>Don't have an account?</p>
            <input type="submit" name="" id="sign-up" value="Sign up">
        </form>
       
    </div>
    
</body>
<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>
</html>